:root{
    --maincolor:#f5ec3c;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    font-size: 62.7%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.header{
    padding: 2rem 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
/*logo*/
.header #logo img{
    width: 50px;
}
/*nav-bar*/
.nav ul{
    display: flex;
    list-style: none;
}

.nav-barav ul li{
    margin: 0 20px;
    font-size: 15px;
}

.nav-bar ul li ul{
    /* display: none; */
    padding: 30px 10px 10px 10px;
    position: absolute;
    background: black;
    display: none;
}
.nav-bar ul li ul li{
    color: rgb(19, 176, 30);
    text-transform: uppercase;
    padding: 15px 0;
    border-bottom: 1px solid grey;
}

.nav-bar ul li:hover > ul{
    display: block;
}


.header img{     
    width: 116px;
}
.meeting-background{
    background-image: url(images/Eddystone-Hall-744x504-2.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-text{
    text-align: center;
}
.main-text h1{
    color:white;
    font-size: 80px;

}
.main-text h2{
    color: white;
    font-size: 25px;
}
